---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Logical Sistemas'>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="รับทำ seo" content="บริการทำ SEO เพิ่มช่องทางหลักในการเข้าถึงลูกค้าที่มากขึ้นและมั่นคง">
        <meta name="seo ขอนแก่น" content="บริการ SEO สำหรับธุรกิจ">
        <meta name="seo marketing" content="การตลาด SEO เพิ่มความน่าเชื่อถือให้กับธุรกิจ">
        <meta name="การตลาดออนไลน์" content="การตลาดออนไลน์ SEO เพื่อความเป็นมืออาชีพและช่องทางหลักในตลาด google">
        
        <meta name="keywords" content="บริการวิเคราะห์ keyword เพื่อตอบสนองกับทิศทางธุรกิจ">

        <meta name="website" content="บริการทำเว็ปไซต์เพื่อธุรกิจ">
        <meta name="เว็ปไซต์" content="เว็ปไซต์ง่ายๆเริ่มต้อนที่ 1,500 บาท ">
    </head>
    <body>
        <!-- Page content goes here -->
    </body>
    </html>
    
</Layout>
