<section
  id='contact'
  class='flex gap-y-4 items-center px-8 py-8 md:px-26 md:py-24 text-white bg-rectangle bg-principal'
>
  <div
    class='flex flex-col text-center gap-y-4 px-4 py-12 md:gap-y-12 md:px-8 md:py-2'
  >
    <h1 class='text-2xl md:text-5xl font-semibold'>
      ติดต่อเรา
    </h1>
    <p class='text-sm font-thin md:text-xl text-pretty'>
      เพื่อความสะดวกของลูกค้า บริษัทฯ ได้จัดสรรช่องทางการติดต่อไว้หลายช่องทาง ลูกค้าสามารถเลือกติดต่อทางช่องทางใด ช่องทางหนึ่ง
หรือสามารถเลือกแผนกที่ต้องการติดต่อด้วยระบบ Online Chat เรามีเจ้าหน้าที่พร้อมให้บริการและดูแลลูกค้าตลอด 24 ชั่วโมง
    </p>

    <h2 class='text-lg text-center font-semibold md:text-3xl lg:text-4xl dark:text-white'>
      การขอความช่วยเหลือบริการหลังการขาย
    </h2>
    <p class='text-sm font-thin md:text-xl text-pretty'>
      ต้องการความช่วยเหลือ อยากให้ช่วยดูแลแก้ไขปัญหาให้
    </p>
    <p class='text-sm font-thin md:text-xl text-pretty'>
    ช่องทางติดต่อ > Ticket Support / E-mail
    ต้องการคำแนะนำ หารือ ปรึกษาผู้ช่วยชาญ
    ช่องทางติดต่อ > โทรศัพท์ หรือ Line@
    </p>
  </div>
</section>
